* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Carter One', cursive;
}

.text-center {
  text-align: center;
}

.container {
  height: 100vh;
  background-color: #03081f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project {
  font-weight: 500;
  color: #88900d;
}

.title {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 400;
  color: #c4c4d8;
}

.color-box {
  width: 400px;
  height: 200px;
  background-color: skyblue;
  border-radius: 20px;
  box-shadow: 3px 3px 1px 2px #fff;
}

.color-options-bar {
  width: 300px;
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
  align-items: center;
}

.color-option {
  width: 40px;
  height: 40px;
  border-radius: 50% 50%;
  border: 5px solid #fff;
  cursor: pointer;
  transition: transform 0.5s;
}

.color-option:hover {
  transform: scale(1.1);
}

.option-1 {
  background-color: indigo;
}

.option-2 {
  background-color: #bbb312;
}

.option-3 {
  background-color: skyblue;
}

.selected {
  border: 5px solid grey;
}